<div class="lineChart">
  <div class="dateHeader"><h5>Choose date and city</h5></div>
  <p-calendar
    class="calendar"
    inputId="dateformat"
    dateFormat="yy/mm/dd"
    [(ngModel)]="choosenDate"
    (ngModelChange)="onInputChange()"
  ></p-calendar>
  <p-cascadeSelect
    [(ngModel)]="selectedCity"
    [options]="cities"
    optionLabel="cname"
    optionGroupLabel="name"
    [optionGroupChildren]="['cities']"
    [style]="{ minWidth: '14rem' }"
    (ngModelChange)="onInputChange()"
    placeholder="Select a City"
  ></p-cascadeSelect>

  <div *ngIf="loading" class="loader"></div>
  <h2 *ngIf="error">Ups, an error occured: {{ error.message }}</h2>
  <div *ngIf="!loading" id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
</div>
