<div class="lineChart">
  <div class="dateHeader"><h5>Choose date</h5></div>
  <p-calendar
    class="calendar"
    inputId="dateformat"
    dateFormat="yy/mm/dd"
    [(ngModel)]="date"
    (ngModelChange)="onDateChange()"
  ></p-calendar>
  <div *ngIf="loading" class="loader"></div>
  <h2 *ngIf="error">Ups, an error occured: {{ error.message }}</h2>
  <div *ngIf="!loading" id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
</div>
