<div class="weather-table">
  <app-weather-api-inputs
    (change)="onInputChange($event)">
  </app-weather-api-inputs>
  <div *ngIf="loading" class="loader"></div>
  <h2 *ngIf="error">Ups, an error occured: {{ error.message }}</h2>
  <p-table
    *ngIf="!loading"
    [globalFilterFields]="filterFields"
    [value]="weatherData"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    sortMode="single"
    [rowsPerPageOptions]="[5, 10, 20]"
    #dt>
    <ng-template pTemplate="caption">
      <div style="height: 25px" class="p-d-flex">
        <span
          style="margin-top: -5px; float: right"
          class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Filter"/>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="created">
          Time
          <p-sortIcon field="created"></p-sortIcon>
        </th>
        <th pSortableColumn="weather_state_name">
          Weather <p-sortIcon field="weather_state_name"></p-sortIcon>
        </th>
        <th pSortableColumn="wind_direction_compass">
          Wind Direction
          <p-sortIcon field="wind_direction_compass"></p-sortIcon>
        </th>
        <th pSortableColumn="the_temp">
          Temperature <p-sortIcon field="the_temp"></p-sortIcon>
        </th>
        <th pSortableColumn="wind_speed">
          Wind Speed <p-sortIcon field="wind_speed"></p-sortIcon>
        </th>
        <th pSortableColumn="humidity">
          Humidity <p-sortIcon field="humidity"></p-sortIcon>
        </th>
      </tr>
      <th>
        <p-columnFilter type="text" field="created"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="weather_state_name"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter
          type="text"
          field="wind_direction_compass">
        </p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="the_temp"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="wind_speed"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="humidity"></p-columnFilter>
      </th>
    </ng-template>
    <ng-template pTemplate="body" let-data let-index="rowIndex">
      <tr>
        <td>{{ data.created }}</td>
        <td>{{ data.weather_state_name }}</td>
        <td>
          {{
            data.wind_direction_compass === "False"
              ? ""
              : data.wind_direction_compass
          }}
        </td>
        <td>{{ data.the_temp }}</td>
        <td>{{ data.wind_speed }}</td>
        <td>{{ data.humidity }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
