<h5 class="heading">{{ 'MAP.HEADING' | translate }}</h5>

<form [formGroup]="mapForm">
  <span class="toggle-view-buttons">
    <span>
      <p-radioButton value="map" formControlName="toggleMapView" inputId="mapView"></p-radioButton>
      <label for="mapView">{{ 'MAP.MAP_VIEW' | translate }}</label>
    </span>
    <span>
      <p-radioButton value="grid" formControlName="toggleMapView" inputId="gridView"></p-radioButton>
      <label for="gridView">{{ 'MAP.GRID_VIEW' | translate }}</label>
    </span>
  </span>

  <div [hidden]="mapForm.value.toggleMapView === 'grid'">
    <div id="map" class="map"></div>
  </div>

  <p-table [hidden]="mapForm.value.toggleMapView === 'map'" [value]="cities">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'MAP.MAP_TABLE.CITY.NAME' | translate }}</th>
        <th>{{ 'MAP.MAP_TABLE.CITY.CODE' | translate }}</th>
        <th>{{ 'MAP.MAP_TABLE.CITY.LATITUDE' | translate }}</th>
        <th>{{ 'MAP.MAP_TABLE.CITY.LONGITUDE' | translate }}</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-city let-index="rowIndex">
      <tr>
        <td>{{ city.name }}</td>
        <td>{{ city.code }}</td>
        <td>{{ city.latitude }}</td>
        <td>{{ city.longitude }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            label="{{ 'MAP.CHOOSE' | translate }}"
            class="p-button-outlined p-button-rounded"
            (click)="onChooseCityBtnClick(city)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</form>
