.map {
  height: calc(100vh - 110px);
}

.city-note {
  max-width: 80px !important;
}

.button-column {
  text-align: center !important;
  vertical-align: middle;
}

.heading {
  margin: 0 15px;
  font-weight: 500;
}

.toggle-view-buttons {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  margin-right: 16px;
  font-size: 12px;
  span {
    margin: 0 0 5px 10px;
    label {
      line-height: 20px;
      margin-left: 3px;
    }
  }
}
