h5 {
  font-size: 15px;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  input {
    width: 100%;
  }
}

.add-city i:hover {
  cursor: pointer;
  color: #0d89ec;
}

.buttons {
  width: fit-content;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  :nth-child(1) {
    margin-right: 10px;
  }
}
.spinner {
  stroke: white;
  margin: 0 5px 0 0;
}
