<form [formGroup]="weatherInputsForm">
  <div class="inputs">
    <div class="chose-input">
      <h5>{{ 'API_INPUTS.CHOOSE_CITY' | translate }}</h5>
      <p-dropdown
        formControlName="city"
        [options]="cities"
        optionLabel="name"
        optionGroupLabel="name"
        [style]="{ width: '160px' }"
        placeholder="{{ 'API_INPUTS.CHOOSE_CITY' | translate }}">
      </p-dropdown>
    </div>

    <div formGroupName="dates" class="chose-input">
      <h5>{{ 'API_INPUTS.CHOOSE_DATEFROM' | translate }}</h5>
      <button
        (click)="decrementDateRange()"
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-left"
        class="p-button-rounded"></button>
      <p-calendar
        formControlName="dateFrom"
        type="date"
        inputId="dateformatfrom"
        [maxDate]="chosenDateTo"
        customDateFormat
        dateFormat="yy/mm/dd"
        rPCalendarMask>
      </p-calendar>
    </div>

    <div formGroupName="dates" class="chose-input">
      <h5>{{ 'API_INPUTS.CHOOSE_DATETO' | translate }}</h5>
      <p-calendar
        formControlName="dateTo"
        type="date"
        inputId="dateformatto"
        [minDate]="chosenDateFrom"
        [maxDate]="maxDateValue"
        customDateFormat
        dateFormat="yy/mm/dd"
        rPCalendarMask>
      </p-calendar>
      <button
        (click)="incrementDateRange()"
        [disabled]="dateEqualToToday()"
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-right"
        class="p-button-rounded"></button>
    </div>
  </div>
</form>
