.inputs {
  display: flex;
}

.chose-input {
  margin: 0 0 0 16px;
  width: fit-content;
}

.chose-input > h5 {
  margin: 0 0 10px 0;
  width: fit-content;
}

.chose-input:nth-child(3) > h5 {
  margin-left: 5px;
}
