<form [formGroup]="weatherInputsForm">
  <div class="inputs">
    <div class="chose-input">
      <h5>Choose City</h5>
      <p-cascadeSelect
        formControlName="city"
        [options]="cities"
        optionLabel="name"
        optionGroupLabel="name"
        [optionGroupChildren]="['cities']"
        [style]="{ minWidth: '14rem' }"
        placeholder="Select a City">
      </p-cascadeSelect>
    </div>

    <div formGroupName="dates" class="chose-input">
      <h5>Choose Date From</h5>
      <button
        (click)="decrementDateRange()"
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-left"
        class="p-button-rounded"></button>
      <p-calendar
        formControlName="dateFrom"
        type="date"
        inputId="dateformatfrom"
        [maxDate]="chosenDateTo"
        customDateFormat
        dateFormat="yy/mm/dd"
        rPCalendarMask>
      </p-calendar>
    </div>

    <div formGroupName="dates" class="chose-input">
      <h5>Choose Date To</h5>
      <p-calendar
        formControlName="dateTo"
        type="date"
        inputId="dateformatto"
        [minDate]="chosenDateFrom"
        [maxDate]="maxDateValue"
        customDateFormat
        dateFormat="yy/mm/dd"
        rPCalendarMask>
      </p-calendar>
      <button
        (click)="incrementDateRange()"
        [disabled]="dateEqualToToday()"
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-right"
        class="p-button-rounded"></button>
    </div>
  </div>
</form>
