<div>
  <form [formGroup]="heatIndexForm" #formDir="ngForm" class="heat-index-form">
    <span>
      <h2 class="main-heading">{{ 'HEAT_INDEX.HEADING' | translate }}</h2>
      <h5 class="detail-heading">{{ 'HEAT_INDEX.DETAILS' | translate }}</h5>
    </span>

    <span class="temperature-input">
      <span class="p-float-label">
        <input
          (keypress)="numbersOnly($event)"
          class="form-control"
          formControlName="temp"
          id="float-input"
          type="number"
          required
          step=".01"
          pInputText
          name="temperature"
          style="width: 8rem" />
        <label for="float-input">{{ 'HEAT_INDEX.TEMPERATURE' | translate }} </label>

        <div class="validations" *ngIf="f.temp.invalid && f.temp.dirty">
          <small *ngIf="f.temp.errors?.required" class="p-error">{{ 'HEAT_INDEX.TEMPERATURE_REQ' | translate }}</small>
          <small *ngIf="f.temp.errors?.temperature_min && heatIndexForm.value.unit === 'Celsius'" class="p-error">
            {{ 'HEAT_INDEX.TEMPERATURE_MIN_C' | translate }}
          </small>
          <small *ngIf="f.temp.errors?.temperature_min && heatIndexForm.value.unit === 'Fahrenheit'" class="p-error">
            {{ 'HEAT_INDEX.TEMPERATURE_MIN_F' | translate }}
          </small>
        </div>
      </span>

      <p-cascadeSelect
        formControlName="unit"
        [options]="temperatureUnits"
        optionGroupLabel="name"
        [optionGroupChildren]="['units']"
        [style]="{ width: '9rem' }"
        placeholder="{{ 'HEAT_INDEX.TEMPERATURE_UNITS' | translate }}">
      </p-cascadeSelect>
    </span>

    <span>
      <span class="p-float-label">
        <input
          (keypress)="numbersOnly($event)"
          id="float-input"
          type="number"
          class="form-control"
          required
          step=".01"
          max="100"
          min="0"
          formControlName="hum"
          pInputText
          style="width: 17rem"
          name="humidity" />
        <label for="float-input">{{ 'HEAT_INDEX.HUMIDITY' | translate }}</label>
      </span>

      <div class="validations" *ngIf="f.hum.invalid && f.hum.dirty">
        <small *ngIf="f.hum.errors?.required" class="p-error">{{ 'HEAT_INDEX.HUMIDITY_REQ' | translate }}</small>

        <small *ngIf="f.hum.errors?.min" class="p-error">{{ 'HEAT_INDEX.HUMIDITY_MIN' | translate }}</small>

        <small *ngIf="f.hum.errors?.max" class="p-error">{{ 'HEAT_INDEX.HUMIDITY_MAX' | translate }}</small>
      </div>
    </span>

    <button pButton class="p-button-info" type="submit" [disabled]="!heatIndexForm.valid" (click)="onFormSubmit()">
      {{ 'HEAT_INDEX.CALCULATE' | translate }}
    </button>

    <span>
      <h2 class="final-result" *ngIf="heatIndex">{{ 'HEAT_INDEX.RESULT' | translate }} {{ heatIndex }}</h2>
    </span>
  </form>

  <ul class="last-results" *ngIf="lastResults.length > 0">
    <h3>{{ 'HEAT_INDEX.LAST_RESULTS' | translate }}</h3>
    <li *ngFor="let result of lastResults; index as i">
      {{ result.heatIndexFahrenheit | number: '1.2-2' }} °F {{ 'HEAT_INDEX.OR' | translate }}
      {{ result.heatIndexCelsius | number: '1.2-2' }} °C
    </li>
  </ul>
</div>
