<div>
  <form [formGroup]="heatIndexForm" #formDir="ngForm" class="heat-index-form">
    <span>
      <h2 class="main-heading">Heat Index Calculator</h2>
      <h5 class="detail-heading">Please fill information about weather</h5>
    </span>

    <span class="temperature-input">
      <span class="p-float-label">
        <input
          (keypress)="numbersOnly($event)"
          class="form-control"
          formControlName="temp"
          id="float-input"
          type="number"
          required
          step=".01"
          pInputText
          name="temperature"
          style="width: 8rem" />
        <label for="float-input"> Temperature </label>

        <div class="validations" *ngIf="f.temp.invalid && f.temp.dirty">
          <small *ngIf="f.temp.errors?.required" class="p-error"> Temperature is required </small>
          <small *ngIf="f.temp.errors?.temperature_min && heatIndexForm.value.unit === 'Celsius'" class="p-error">
            Temperature must be at least 26.7 °C
          </small>
          <small *ngIf="f.temp.errors?.temperature_min && heatIndexForm.value.unit === 'Fahrenheit'" class="p-error">
            Temperature must be at least 80 °F
          </small>
        </div>
      </span>

      <p-cascadeSelect
        formControlName="unit"
        [options]="temperatureUnits"
        optionGroupLabel="name"
        [optionGroupChildren]="['units']"
        [style]="{ width: '9rem' }"
        placeholder="Temperature units">
      </p-cascadeSelect>
    </span>

    <span>
      <span class="p-float-label">
        <input
          (keypress)="numbersOnly($event)"
          id="float-input"
          type="number"
          class="form-control"
          required
          step=".01"
          max="100"
          min="0"
          formControlName="hum"
          pInputText
          style="width: 17rem"
          name="humidity" />
        <label for="float-input"> Humidity </label>
      </span>

      <div class="validations" *ngIf="f.hum.invalid && f.hum.dirty">
        <small *ngIf="f.hum.errors?.required" class="p-error"> Humidity is required </small>

        <small *ngIf="f.hum.errors?.min" class="p-error"> Humidity need to be at least 0 </small>

        <small *ngIf="f.hum.errors?.max" class="p-error"> Humidity need to be at most 100 </small>
      </div>
    </span>

    <button
      pButton
      label="Calculate Heat Index"
      class="p-button-info"
      type="submit"
      [disabled]="!heatIndexForm.valid"
      (click)="onFormSubmit()"></button>

    <span>
      <h2 class="final-result" *ngIf="heatIndex">Heat index is {{ heatIndex }}</h2>
    </span>
  </form>

  <ul class="last-results" *ngIf="lastResults.length > 0">
    <h3>Last results</h3>
    <li *ngFor="let result of lastResults; index as i">
      {{ result.heatIndexFahrenheit | number: '1.2-2' }} °F or {{ result.heatIndexCelsius | number: '1.2-2' }} °C
    </li>
  </ul>
</div>
