h5 {
  width: fit-content;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  input {
    width: 100%;
  }
}

.buttons {
  width: fit-content;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button {
    margin: 0 5px;
  }
}

.spinner {
  stroke: white;
  margin: 0 5px 0 0;
}
