.map {
  height: calc(100vh - 110px);
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 15px;
  left: -55px;
  min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  &:hover {
    color: #ff0000;
  }
}

.buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .ol-popup-submit{
    cursor: pointer;
    margin-left: 7px;
  }
  .ol-popup-edit  {
    cursor: pointer;
  }
}
