<h3 [routerLink]="['/map']" class="heading"><i class="pi pi-home"></i>{{ 'MAIN.HEADING' | translate }}</h3>

<div class="flags-login">
  <div class="flags">
    <p-image src="assets/flags/us.png" alt="USA flag" width="36" height="24" (click)="translateEN()"></p-image>
    <p-image src="assets/flags/sk.png" alt="SK flag" width="36" height="24" (click)="translateSK()"></p-image>
  </div>

  <div *ngIf="user.loggedIn" class="login">
    <a (click)="menu.toggle($event)"> <i class="pi pi-user"></i>{{ user.name }} </a>
    <p-menu class="user-items" appendTo="body" #menu [popup]="true" [model]="userItems"></p-menu>
  </div>

  <div *ngIf="!user.loggedIn" class="login">
    <a [routerLink]="['/login']"> <i class="pi pi-sign-in"></i>{{ 'LOGIN.LOGIN' | translate }} </a>
  </div>
</div>
<router-outlet></router-outlet>
