.heading {
  margin: 10px;
  height: 24px;
  width: fit-content;
  font-weight: 700;
  color: #0d89ec;
  cursor: pointer;
  i {
    margin-right: 7px;
  }
}

.heading span:hover,
.login .hover:hover {
  cursor: pointer;
  color: #6c757d;
}

.flags-login {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: row;
}

.login {
  width: fit-content;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 7px;
  a {
    height: fit-content;
    cursor: pointer;
    margin: auto 0;
    text-decoration: none;
    color: #0d89ec;
    i {
      margin-right: 7px;
      width: 14px;
    }
  }
}

.flags {
  height: 24px;
  p-image {
    margin: 0 5px 0 5px;
    cursor: pointer;
  }
}
