::ng-deep {
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link-active {
    background: #ffffff;
    border-color: #2196f3;
    color: #2196f3;
  }
}

.heading {
  margin: 0;
  padding: 16px;
  font-weight: 700;
  color: #0d89ec;
}
.heading span:hover {
  cursor: pointer;
  color: #6c757d;
}

h3 span i {
  margin-right: 0.5rem;
}
