<div class="line-chart">
  <app-weather-api-inputs (change)="onInputChange($event)"></app-weather-api-inputs>
  <div *ngIf="loading" class="loader"></div>
  <div *ngIf="error" class="error-message">
    <h2>Ups, an error occured</h2>
    <p>{{ error.message }}</p>
  </div>
  <div *ngIf="!loading && !error" id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title">
    </apx-chart>
  </div>
</div>
